require 'date'
<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
      <%= date = Date.today %>
        <h1>date</h1>
        <p> The date is <%= Date.today.strftime("%A, %B %d, %Y") %></p>
    </body>
</html>
